


<div class="sidebar">
    <li><a routerLink="/dashboard" ><span>Dashboard</span></a></li>
    <li>
        <a routerLink="/users" ><span>Users</span></a>

    </li>
    <li>
        <a routerLink="/categories"><span>Categories</span></a>

    </li>

    <li>
        <a routerLink="/home" ><span>Home</span></a>

    </li>
    <li>
        <a routerLink="/about" ><span>About us</span></a>

    </li>
    <li>
        <a routerLink="/contact" ><span>Contact us</span></a>
    </li>
    <li>
        <a routerLink="/testimonial" ><span>Testimonials</span></a>

    </li>
    <li>
        <a routerLink="/charities" ><span>Charities</span></a>

    </li>
   <li>
        <a routerLink="/donation" ><span>Donations</span></a>

    </li>
    <li>
        <a routerLink="/issue" ><span>Issues</span></a>

    </li>
</div>