


<body class="theme-blush">


    <div class="navbar-right">
        <ul class="navbar-nav">
         
            <li class="dropdown">
            
            </li>
          
            <li><a (click)="logout()" class="mega-menu" title="Sign Out"><i class="zmdi zmdi-power"></i></a></li>
        </ul>
    </div>
    
   

    <aside id="leftsidebar" class="sidebar">
        <div class="navbar-brand">
        </div>
        <div class="menu">
<br>
<br>



            <ul class="list">
                <div class="card">
              
                    <div class="body">
                        <ul class="list-unstyled mb-0 widget-categories">
                            <li><a routerLink="/user/Profile"   >Profile</a></li>
                            <li><a routerLink ="/user/Charities" >Charities</a></li>
                            <li><a routerLink ="/user/Testimonial" >Testimonial</a></li>
                            <li><a routerLink ="/user/Donations" >Donations</a></li>
                            <li><a routerLink ="/user/Issues" >Issues</a></li>
                     
                        </ul>
                    </div>
                </div>

                 


                
            </ul>
        </div>
    </aside>

</body>
