<app-navbar></app-navbar>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-content">
                    <h1>About Us</h1>
                    <p *ngFor="let about of abouts">{{ about.content }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-content" *ngFor="let about of abouts">
                    <img src="../../../assets/images/{{about.background }}" alt="About Us" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</main>

<div class="latest_activites_area">
    <div class="col-md-6">
        <div class="image-content" *ngFor="let about of abouts">
            <img src="../../../assets/img/{{about.background }}" alt="About Us" class="img-fluid">
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <div class="activites_info">
                    <div class="section_title">
                        <h3> <span>Watch Our Latest  </span><br>
                            Activities</h3>
                    </div>
                    <p class="para_2">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do 
                        eiusmod tempor incididunt  ut labore dolore magna aliqua. 
                        enim minim veniam, quis nostrud exercitation. tempor 
                        incididunt  ut labore dolore magna aliqua. enim minim 
                        veniam, quis nostrud exercitation.</p>
                    <a href="#" data-scroll-nav="1" class="boxed-btn4">Donate Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>