


<body class="theme-blush">

    <div class="authentication">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-sm-12">
                  <form class="card auth_form"[formGroup]="resetForm">
                      <div class="header">
                          <img class="logo" src="assets/AdminAssets/assets/images/logo.svg" alt="">
                          <h5>Reset Password </h5>
                      </div>
                      <div class="body">
                          <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="Verification Code" formControlName="verificationcode">
                            
                          </div>
                          <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="Password" formControlName="newpassword" >
                                                      
                          </div>
                 
                      
                          <a  class="btn btn-primary btn-block waves-effect waves-light"(click)="resetpassword()">Reset</a>                        
                          <div class="signin_with mt-3">
                            <a class="link" (click)="toLogin()"style="cursor: pointer;" >Do you have account?</a>
                        </div>
                      </div>
                  </form>
               
              </div>
              <div class="col-lg-8 col-sm-12">
                  <div class="card">
                      <img src="assets/AdminAssets/assets/images/signin.svg" alt="Sign In"/>
                  </div>
              </div>
          </div>
      </div>
    </div>
    
        </body>
        
    